:root {
  --c1: #E26310;
  --c2: #F8D496;
  --c3: #F8D496;
}

@keyframes riseFade {
  0% {
    opacity: 0;
    top: 100px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body, * {
  margin: 0px;
}
body {
  background-color: var(--c1);
  color: white;
  font-family: 'gill sans', sans-serif;
  height: 100vh;
}

#transition-layer {
  pointer-events: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--c1);
  z-index: 100;
  opacity: 0;
  transition-duration: 0.25s;
}

#header {
  position: fixed;
  z-index: 105;
}

#header-back {
  position: relative;
  left: -24px;
  top: 20px;
  font-weight: bold;
  font-size: 24px;
  transition-duration: .5s;
  cursor: pointer;
}

#title {
  text-align: center;
}
#title-logo {
  z-index: 101;
  text-align: center;
  text-shadow: black 4px 4px;
  font-size: 64px;
  font-weight: bold;
  position: relative;
  top: 25vh;
  animation: fade ease .75s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  transition-duration: .5s;
}
#title-buttons {
  position: relative;
  top: 50vh;
}

#button-start {
  opacity: 0;
  position: relative;
  animation: riseFade ease .75s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#button-practice {
  opacity: 0;
  position: relative;
  animation: riseFade ease .75s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: .25s;
}

#title button {
  width: 250px;
  padding: 18px;
  margin: 6px;
  font-size: 18px;
  color: black;
  border-radius: 24px 24px 24px 24px;
  cursor: pointer;
  border: none;
}

#button-start {
  background-color: var(--c2);
}

#title-disclaimer {
  opacity: 0;
  font-size: 12px;
  margin-top: 48px;
  animation: fade ease .75s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: .75s;
  text-shadow: none;
  margin-right: 24px;
  margin-left: 24px;
}

a {
  color: var(--c2);
}

#options {
  display: none;
}

#options-settings {
  margin-top: 48px;
}

.option {
  margin: 36px;
  padding: 16px;
  background-color: white;
  color: black;
  border-radius: 12px 12px 12px 12px;
}

.option div {
  margin-bottom: 12px;
}

.option-name {
  font-size: 18px;
}

.option-desc {
  font-size: 12px;
}

.option-players {

}

#option-minus, #option-plus {

}

.option-number {

}

.option-button {
  text-align: right;
}

#game {
  text-align: center;
  display: none;
}

#game-board {
  margin-top: 2vh;
}

#game-header {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#game-header-text {
  font-size: 24px;
}

.game-section {
  background-color: white;
  color: black;
  height: 9vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  padding-top: 2vh;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 12px 12px 12px 12px;
  filter: drop-shadow(0px 0px 0px);
}

.game-category {
  font-size: 16px;
  text-decoration: bold;
  margin-bottom: 12px;
}

.game-date {
  color: #cfcfcf;
  position: absolute;
  right: 12px;
  top: 6px;
  font-size: 15px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.game-table {
  color: black;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.game-table td {
  width: 20%;
  border: solid black 2px;
  cursor: pointer;
  background: none;
  padding-top: 4px;
  padding-bottom: 4px;
}

#question {
  text-align: center;
  display: none;
}

#question-category {
  position: absolute;
  background-color: var(--c2);
  width: 256px;
  left: 50%;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: -128px;
  margin-top: -12px;
  color: black;
  z-index: 1;
}

#question-card {
  width: 80%;
  margin-top: 96px;
  margin-left: 6%;
  margin-right: 6%;
  border-radius: 12px 12px 12px 12px;
  padding: 4%;
  padding-top: 36px;
  padding-bottom: 36px;
  height: 35vh;
  color: black;
  background-color: white;
  z-index: 0;
}

#question-buttons {
  margin-top: 12px;
}

#question button {
  width: 250px;
  padding: 18px;
  margin: 6px;
  font-size: 18px;
  color: black;
  border-radius: 24px 24px 24px 24px;
  cursor: pointer;
  border: none;
}

.question-show {
  background-color: var(--c2);
}

#question-a {
  margin-top: 128px;
}
