:root {
	--c1: #313131;
	--c2: #D8B863;
}
body, * {
  	margin: 0px;
}
body {
  	background-color: var(--c1);
  	color: white;
  	font-family: 'Trebuchet MS', sans-serif;
  	overflow: hidden;
}

#transition-layer {
	pointer-events: none;
	position: fixed;
    	width: 100vw;
    	height: 100vh;
    	background-color: var(--c1);
    	z-index: 100;
    	opacity: 0;
    	transition-duration: 0.25s;
}

#title {
	text-align: center;
    	text-shadow: black 4px 4px;
    	font-size: 48px;
}
#title-logo {
	position: relative;
	top: 45vh;
}
#title-buttons {
	position: relative;
    	top: 70vh;
}
#title button {
	width: 150px;
    	padding: 12px;
    	margin: 6px;
    	color: black;
    	border-radius: 12px 12px 12px 12px;
    	cursor: pointer;
    	filter: drop-shadow(8px 8px 4px black);
}

#button-start {
	background-color: var(--c2);
}

#game {
	text-align: center;
	display: none;
}

.game-section {
	background-color: white;
    	color: black;
	margin-top: 24px;
    	margin-bottom: 24px;
    	width: 80%;
    	margin-left: 10%;
    	margin-right: 10%;
    	padding-top: 12px;
    	padding-bottom: 12px;
    	border-radius: 12px 12px 12px 12px;
    	filter: drop-shadow(8px 8px 4px black);
}

.game-category {
	font-size: 24px;
    	text-decoration: bold;
    	margin-bottom: 12px;
}

.game-table {
	color: black;
    	width: 80%;
	text-align: center;
    	margin-left: auto;
    	margin-right: auto;
}

.game-table td {
	width: 20%;
    	border: solid black 2px;
    	cursor: pointer;
    	background-color: var(--c2);
    	padding-top: 4px;
    	padding-bottom: 4px;
}

#question {
	text-align: center;
	display: none;
}

#question-category {
	position: absolute;
    	background-color: var(--c2);
	width: 256px;
    	left: 50%;
    	padding-top: 6px;
    	padding-bottom: 6px;
    	margin-left: -128px;
    	margin-top: -12px;
    	color: black;
    	z-index: 1;
}

#question-card {
	width: 80%;
    	margin-top: 96px;
    	margin-left: 6%;
    	margin-right: 6%;
    	border-radius: 12px 12px 12px 12px;
    	padding: 4%;
    	padding-top: 36px;
    	padding-bottom: 36px;
    	height: 55vh;
    	color: black;
    	background-color: white;
    	filter: drop-shadow(8px 8px 4px black);
   	z-index: 0;
}

#question-buttons {
	margin-top: 36px;
    	filter: drop-shadow(8px 8px 4px black);
}

#question button {
	width: 150px;
    	padding: 12px;
    	margin: 6px;
    	color: black;
    	background-color: white;
    	border-radius: 12px 12px 12px 12px;
    	cursor: pointer;
}
