:root {
	--c1: #ffb900;
}
body, * {
	margin: 0px auto;
	text-align: center;
	font-family: "Garamond";
}
body {
	margin: 0px;
}
#content {
	min-height: 100vh;
	min-width: 520px;
}
#logo img {
	width: 100px;
	height: 100px;
}
h2 {
	font-size: 18px;
	margin-bottom: 64px;
}
button {
	text-decoration: none;
	color: black;
	background-color: white;
	border: solid 2px black;
	transition-duration: 0.25s;
	cursor: pointer;
	font-size: 24px;
	padding: 8px;
}
#a-a, #c-a, #d-a, #f-a {
	font-size: 16px;
}
button:hover {
	background-color: #e7e7e7;
}
.key {
	border: solid 2px black;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 66px;
	padding-bottom: 8px;
	cursor: pointer;
	color: white;
	background-color: white;
	transition-duration: 0.25s;
	border-radius: 6%;
	margin-left: 1px;
	margin-right: 1px;
}
.key:hover {
	background-color: #ccc;
	color: #ccc;
}
.b-key {
	background-color: #242424;
	position: absolute;
	width: 12px;
	padding-top: 56px;
	top: 206px;
	margin-left: -10px;
	border: solid black 2px;
	color: black;
	cursor: pointer;
	border-radius: 6%;
	transition-duration: 0.25s;
}
.black-key:hover {
	background-color: #555;
	color: #555;
}
#chord-name {
	font-size: 24px;
}
#name-accent {
	font-size: 16px;
}
input {
	margin-left: 4px;
	margin-right: 2px;
}
#left {
	padding-bottom: 48px;
	background-color: white;
	margin-left: 24px;
	margin-right: 24px;
}
#left button {
	font-size: 16px;
	width: 80px;
	height: 40px;
}
#result {
	position: relative;
	top: 0px;
	transition-duration: 0.25s;
}
#section2 {
	font-size: 36px;
	padding: 48px;
}
#section3 h2 {
	font-size: 18px;
	margin-bottom: 12px;
}
#section3 h3 {
	font-size: 16px;
	padding: 36px;
}
td {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	width: 100vh;
	margin: 0px;
	height: 24px;
	padding: 0px;
}
.ln, .lna {
	position: absolute;
	margin-left: -12px;
	font-size: 36px;
	line-height: 54px;
}
.lna {
	margin-left: -32px;
	font-size: 28px;
}
table {
	border-left: solid black 8px;
	border-right: solid black 2px;
	border-collapse: collapse;
	width: 90%;
}
#t2 {
	margin-top: 6px;
}
#footer {
	background-color: #242424;
	color: white;
	padding-top: 68px;
	padding-bottom: 68px;
	font-size: 16px;
}
#footer p {
	margin-left: 24px;
   	margin-right: 24px;
}
a {
	text-decoration: underline;
	transition-duration: 0.25s;
	cursor: pointer;
	color: var(--c1);
}
a:hover {
	color: #dd9700;
}
#checks {
	display: none;
}
#tool {
	margin-bottom: 96px;
	font-size: 20px;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
#tool a {
	text-decoration: none;
	color: black;
}
#tool p{
	width: 40%;
	margin-left: 5%;
	margin-right: 5%;
	float: left;
}
#active {
	border-bottom: solid var(--c1) 2px;
}
#active a {
	color: var(--c1);
}
#buttons, #buttons2 {
	padding: 16px;
	font-size: 16px;
}
#buttons2 button, #buttons button {
	font-size: 16px;
	width: 80px;
	height: 40px;
	margin: 4px;
}
#section3 {
	padding-top: 24px;
	padding-bottom: 24px;
	background-color: #e7e7e7;
}
#treble, #bass {
	position: absolute;
	left: 142px;
}
#treble {
	margin-top: -36px;
}
#bass {
	margin-top: 146px;
}
#treble img {
	width: 64px;
}
#bass img {
	width: 71px;
}
@media screen and (min-width: 1200px) {
  .key {	
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 100px;
	padding-bottom: 8px;
	margin-left: 1px;
	margin-right: 1px;
  }
  .b-key {
	width: 18px;
	padding-top: 82px;
	top: 170px;
	margin-left: -10px;
  }
	#logo img {
	  width: 100px;
	  height: 100px;
	}
	.b-key {
	  top: 170px;
	}
	#buttons, #buttons2 {
	  width: 40%;
	  display: inline-table;
	  margin-left: 0px;
	  margin-right: 0px;
	}
	#treble, #bass {
	  position: absolute;
	  left: 10%;
	}
}
