  body {
    font-family: Georgia, serif;
    background-color: black;
    color: white;
    text-align: center;
    overflow-y: hidden;
  }

  #nav {
    filter: invert(50%);
    float: right;
    position: fixed;
    right: 12px;
    top: 12px;
    cursor: pointer;
  }

  #content {
    margin: auto;
    display: block;
  }

  #head {
    color: white;
    text-align: center;
  }

  #modal {
    position: fixed;
    border: solid white 2px;
    padding: 24px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    background-color: black;
  }

  #modal span {
    font-size: 24px;
    border: solid white 1px;
    padding: 4px;
  }

  table {
    border-collapse: collapse;
    border: solid 2px white;
    margin-left: 5%;
  }
  #board td {
    width: 22px;
    height: 22px;
    border: solid gray 1px;
    background-color: white;
  }

  #queue td {
    width: 12px;
    height: 12px;
    background-color: white;
  }

  #queue {
    position: fixed;
    left: 80vw;
    top: 120px;
  }

  #hold td {
    width: 8px;
    height: 8px;
    background-color: white;
  }

  #hold {
    position: fixed;
    left: 6vw;
    top: 18px;
  }

  button {
    background: none;
    color: white;
    border: solid 1px white;
    font-size: 32px;
  }

  #btn-start {
    font-size: 64px;
  }

  #rotate {
    width: 64px;
    height: 60px;
    font-size: 32px;
  }

  #move {
    width: 100px;
    height: 68px;
    font-size: 32px;
  }

  #buttons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  /* background */
.bubbles{
  position:absolute;
  width:100%;
  height: 100%;
  z-index:-1;
  overflow:hidden;
  top:0;
  left:0;
}
.bubble{
  position: absolute;
  bottom:-100px;
  width:40px;
  height: 40px;
  background:#f1f1f1;
  border-radius:50%;
  opacity:0.5;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1){
  width:40px;
  height:40px;
  left:10%;
  animation-duration:8s;
}
.bubble:nth-child(2){
  width:20px;
  height:20px;
  left:20%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(3){
  width:50px;
  height:50px;
  left:35%;
  animation-duration:7s;
  animation-delay:2s;
}
.bubble:nth-child(4){
  width:80px;
  height:80px;
  left:50%;
  animation-duration:11s;
  animation-delay:0s;
}
.bubble:nth-child(5){
  width:35px;
  height:35px;
  left:55%;
  animation-duration:6s;
  animation-delay:1s;
}
.bubble:nth-child(6){
  width:45px;
  height:45px;
  left:65%;
  animation-duration:8s;
  animation-delay:3s;
}
.bubble:nth-child(7){
  width:90px;
  height:90px;
  left:70%;
  animation-duration:12s;
  animation-delay:2s;
}
.bubble:nth-child(8){
  width:25px;
  height:25px;
  left:80%;
  animation-duration:6s;
  animation-delay:2s;
}
.bubble:nth-child(9){
  width:15px;
  height:15px;
  left:70%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(10){
  width:90px;
  height:90px;
  left:25%;
  animation-duration:10s;
  animation-delay:4s;
}
@keyframes rise{
  0%{
    bottom:-100px;
    transform:translateX(0);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:1080px;
    transform:translateX(-200px);
  }
}

@media screen and (min-width: 800px) {
  table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  #board td {
    width: 26px;
    height: 26px;
    border: solid gray 1px;
    background-color: white;
  }
  #queue td {
    width: 16px;
    height: 16px;
    background-color: white;
  }

  #hold {
    position: fixed;
    left: 25vw;
    top: 120px;
  }
}
